body {
    margin: 10px;
    padding: 0px;
}

#description p {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 600px;
}

#description a {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 600px;
}

#input-div {
    margin-top: 10px;
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    width: 600px;
}

#container {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    width: 600px;
}

.kineticjs-content {
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
}

canvas {
    position: relative !important;
    top: auto !important;
    left: auto !important;
    display: block !important;
    margin-left: auto !important;
    margin-right: auto !important;
}

